/* Tag Selection List */
.tag-selection-list {
  list-style: none;
  padding: 0;

  label {
    margin-top: 1rem;
  }
}

// Tags List
.tags-list {
  margin: 0;
}

.content-tag {
  background: $color-gold-lighter;
  border-radius: 4px;
  display: inline-block;
  margin-left: 1rem;
  padding: .5rem 1rem;
}
