---
layout: default
top_nav: blank

page_h1: Certify Prototypes - JH UX/UI Builds
---

<div class="sba-l-row sba-u-margin-top--5">
    <!--Card Row Container-->
    <div class="card-set card-set--halves">
        {% assign sorted = site.data.prototypes | sort: 'url' %}
        {% for item in sorted reversed %}

        <div class="card">
            <div class="card__header">

                <p class="sba-u-font-size--small sba-u-color--muted sba-u-margin-top--0"> {{ item.date }}</p>

                {% if item.audience %}
                <div class="card__bulk-actions">
                    <div class="task-panel">
                    {% if item.audience == "Firms" %}
                    <span class="sba-c-badge sba-c-badge--warn ">{{ item.audience }}</span>
                    {% elsif item.audience == "SBA" %}
                    <span class="sba-c-badge sba-c-badge--info">{{ item.audience }}</span>
                    {% else %}
                    <span class="sba-c-badge">{{ item.audience }}</span>
                    {% endif %}
                </div>
                </div>
                {% endif %}

                <h3 class="sba-u-margin--0">
                    <a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
                </h3>

            </div>
            <div class="card__content sba-u-padding-top--0">

                <h4 class="sba-u-color--muted sba-u-margin-top--2">{{ item.app }}</h4>

                <p>{{ item.summary }}</p>

            </div>
        </div>
        {% endfor %}
    </div>
</div>