<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex">

{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/application.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/cds.css">
<script src="{{ site.baseurl }}/assets/javascripts/application.js"></script>
<script src="{{ site.baseurl }}/assets/cds.js"></script>
<meta name="robots" content="noindex">
<style>
    .sba-c-tabs__link, .nav__dropdown-toggle, .sba-c-tabs__link:visited, .nav__dropdown-toggle:visited {
        background-color: transparent;
    }
    .sba-c-tabs__link.current, .current.nav__dropdown-toggle {
        color: #0071bc !important;
        background: #ffffff;
        border: 1px solid #d6d7d9;
        margin-bottom: -1px;
        border-bottom: 0;
    }
    .sba-c-tabs__link.current:before, .current.nav__dropdown-toggle:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0px;
        background-color: transparent;
        width: 100%;
        display: none !important;
    }
    .sba-c-tabs__link:hover:after {
        color: #0071bc;
        text-decoration: none;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.7rem;
        background-color: #0071bc;
        width: 100%;
        /*padding-bottom: 1rem;*/
        margin-bottom: -1px;

    }
    .sba-c-tabs__link:hover{
        background-color: transparent;
        /*content: "";*/
        /*border-bottom: 0.7rem solid #0071bc;*/
        /*padding-bottom: 1rem;*/
        /*margin-bottom: -1px;*/

    }

    .hide{
        display: none;
    }

    .new-note-close, .new-note-close:active, .new-note-close:hover {
        background-color: transparent;
        /*background-image: url(../uswds/img/close.png);*/
        /*background-image: url(../uswds/img/close.svg);*/
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px;
        height: 26px;
        position: absolute;
        right: 9rem;
        text-indent: 33px;
        top: 8rem;
        width: 26px;
    }
    #body-tabs1 .sba-c-tabs__link,#body-tabs1 .sba-c-tabs__link:hover,#body-tabs1 .sba-c-tabs__link:visited{
        background-color: rgba(0, 0, 0, 0.05);
    }
    #body-tabs1 .sba-c-tabs__link.current{
        background-color: #ffffff;
    }

</style>
