
  <fieldset class="questions">
    <legend class="usa-sr-only">New Note</legend>
    <label for="note_form_title">Title</label>
    <input type="text" id="note_form_title">
    <label for="note_form">Note</label>
    <textarea name="" id="note_form"></textarea>
  </fieldset>

  <fieldset class="question tags">
    <h4>Tags</h4>
      <div class="usa-width-one-half">
        <ul class="tag-selection-list">
          <li>
            <input id="note-tag--BOS-Analysis" type="checkbox" name="note-form-tags" value="BOS Analysis">
            <label for="note-tag--BOS-Analysis">BOS Analysis</label>
          </li>
          <li>
            <input id="note-tag--Ownership" type="checkbox" name="note-form-tags" value="Ownership">
            <label for="note-tag--Ownership">Ownership</label>
          </li>
          <li>
            <input id="note-tag--Control" type="checkbox" name="note-form-tags" value="Control">
            <label for="note-tag--Control">Control</label>
          </li>
          <li>
            <input id="note-tag--Size" type="checkbox" name="note-form-tags" value="Size">
            <label for="note-tag--Size">Size</label>
          </li>
        </ul>
      </div>
      <div class="usa-width-one-half">
        <ul class="tag-selection-list">
          <li>
            <input id="note-tag--Business-Development" type="checkbox" name="note-form-tags" value="Business Development">
            <label for="note-tag--Business-Development">Business Development</label>
          </li>
          <li>
            <input id="note-tag--Economic-Disadvantage" type="checkbox" name="note-form-tags" value="Economic Disadvantage">
            <label for="note-tag--Economic-Disadvantage">Economic Disadvantage</label>
          </li>
          <li>
            <input id="note-tag--Social-Disadvantage" type="checkbox" name="note-form-tags" value="Social Disadvantage">
            <label for="note-tag--Social-Disadvantage">Social Disadvantage</label>
          </li>
          <li>
            <input id="note-tag--Approval" type="checkbox" name="note-form-tags" value="Approval">
            <label for="note-tag--Approval">Approval</label>
          </li>
        </ul>
      </div>
    </fieldset>
