{% assign masthead_type = page.masthead_type %}

{% for item in site.data.masthead_content.[masthead_type] %}
<div class="sba-c-masthead__midsection sba-l-container sba-u-flex-direction--column">
  <div class="sba-u-padding-x--2">
  <div class="sba-u-border--0">
    <h1 class="sba-c-masthead__primary-heading">
      {% if item.link_main_heading %}<a href="firm-overview.html" data-print="firm_name">{% endif %}
        {% if page.firm_name %}
          {{ page.firm_name }}
        {% else %}{{ item.main_heading }}{% endif %}{% if item.link_main_heading %}</a>{% endif %}
        {% if item.secondary_heading %}
          <span class="sba-c-masthead__primary-heading--l2">{{ item.secondary_heading }}</span>
        {% endif %}
    </h1>
  </div>
  {% if item.additional_info %}
  <div class="sba-c-masthead__midsection__info sba-u-margin-y--1 sba-u-display--flex sba-u-flex-direction--column sba-u-md-flex-direction--row">
    {% for additional_item in item.additional_info %}
      <div class="sba-u-sm-padding-right--2 sba-u-lg-padding-right--7 sba-u-display--flex sba-u-md-flex-direction--column sba-l-col">
        <strong class="sba-u-margin-right--1">{{ additional_item.key }}:</strong>
        <span class="sba-u-display--flex">
          <span data-print="{{ additional_item.data_id }}">{{ additional_item.value }}</span>
          {% if additional_item.editable %}
          <a href="{{ additional_item.url }}" title="Change" class="sba-u-margin-left--1">
            <svg aria-hidden="true" class="sba-c-icon sba-c-icon--blue">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#edit"></use>
              <span class="sba-u-visibility--screen-reader">Change</span>
            </svg>
          </a>
        </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
</div>
{% endfor %}
