<div id="topnav-notifications-drawer" hidden>
  <div class="sba-c-notifications-drawer-outer-container sba-l-container">
    <div class="sba-c-notifications-drawer-container">
      <div class="sba-c-notifications-drawer">
        <ul class="sba-c-notifications-drawer__list">
          <li class="sba-c-notifications-drawer__list-item">
            <a href="#" class="sba-c-notifications-drawer__link">
              <p class="sba-c-notifications-drawer__message">Mike’s Garage added a contributor to its 8(a) Initial Application.</p>
              <p class="sba-c-notifications-drawer__timestamp">July 13, 2018 2:18pm</p>
            </a>
          </li>
          <li class="sba-c-notifications-drawer__list-item">
            <a href="#" class="sba-c-notifications-drawer__link">
              <p class="sba-c-notifications-drawer__message">Terrycloth, LLC submitted information for its 8(a) Initial Application.</p>
              <p class="sba-c-notifications-drawer__timestamp">July 13, 2018 2:15pm</p>
            </a>
          </li>
          <li class="sba-c-notifications-drawer__list-item">
            <a href="#" class="sba-c-notifications-drawer__link">
              <p class="sba-c-notifications-drawer__message">Please review the 8(a) Initial Application for Hammertime, LLC. </p>
              <p class="sba-c-notifications-drawer__timestamp">July 13, 2018 2:03pm</p>
            </a>
          </li>
          <li class="sba-c-notifications-drawer__list-item">
            <a href="#" class="sba-c-notifications-drawer__link">
              <p class="sba-c-notifications-drawer__message">Please review the 8(a) Initial Application for MASTERWERKS. </p>
              <p class="sba-c-notifications-drawer__timestamp">July 13, 2018 1:11pm</p>
            </a>
          </li>
        </ul>
        <a href="#" class="sba-c-notifications-drawer__view-all">View all notifications</a>
      </div>
    </div>
  </div>
</div>
