<div class="sba-c-mastead__search-outer-container" id="topnav-search" hidden>
  <div class="sba-c-mastead__search-container" >
    <div class="sba-l-container">
      <form class="sba-c-mastead__search-form" role="search">
        <label class="sba-u-visibility--screen-reader" for="topnav_search_query">Search small</label>
        <input class="sba-c-input" id="topnav_search_query" type="search" name="topnav_search_query" placeholder="Search firms">
        <button class="sba-c-button sba-c-button--transparent" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
