<nav role="navigation" class="usa-nav certify-nav">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
    </button>

<div class="certify-global-nav">
  <div class="usa-grid-full">
    <div class="certify-global-nav__primary">
      <a href="{{ site.baseurl }}/index.html" class="certify-logo__link">
        <img class="certify-logo" alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
      </a>
      <ul class="usa-nav-primary usa-accordion">
        <li class="{% if page.global_nav_active contains "Dashboard" %} current {% endif %}">
        <a class="usa-nav-link" href="{% if page.dashboard_link %}
            {{ page.dashboard_link }}
          {% else %}
            #
          {% endif %}">
          <span>Dashboard</span>
        </a>
        </li>
      </ul>
    </div>
    <ul class="usa-nav-primary usa-accordion">

      <li>
        <a class="usa-nav-link" href="#">
          <span>Notifications</span>
        </a>
      </li>

      <li>
        <a class="usa-nav-link" href="#">
          <span>Help</span>
        </a>
      </li>
      <li>
        <button class="
        usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-2">
          <span>John Doe</span>
        </button>
        <ul id="side-nav-2" class="usa-nav-submenu">
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="#">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
