<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    {% include _head.html %}
    <link rel="stylesheet" href="{{ relative }}assets/stylesheets/prototype/vendor/prism.css">
    <script src="{{ relative }}assets/javascripts/vendor/prism.js"></script>
  </head>
  <body class="styleguide">

    <div class="sba-l-container">

    <h1>I’m sorry but the princess is in another castle.</h1>

    <p>The styleguide documentation has moved.</p>

    <p><a href="https://ussba.github.io/certify-design-system-documentation/" class="sba-c-button">Go</a></p>
    </div>
  </body>
</html>
